{{! template-lint-disable require-strict-mode }}
<div class="sponsor-status-badge">
  <h3>{{i18n "js.github_sponsors.sponsor_status.title"}}</h3>

  {{#if this.loading}}
    <p>
      {{i18n "js.github_sponsors.sponsor_status.checking"}}
    </p>
  {{else}}
    {{#if this.isSponsor}}
      <p>
        {{d-icon "heart"}}
        {{i18n "js.github_sponsors.sponsor_status.active"}}
      </p>
    {{else}}
      <p>
        {{i18n "js.github_sponsors.sponsor_status.inactive"}}
      </p>
      <p>
        <a href={{this.sponsorUrl}} target="_blank" rel="noopener noreferrer">
          {{i18n "js.github_sponsors.sponsor_status.learn_more"}}
        </a>
      </p>
    {{/if}}
  {{/if}}
</div>